@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Base Styles */
body {
  transition: background-color 0.3s, color 0.3s;
}

/* Theme: Cyberpunk */
.theme-cyberpunk {
  --tw-bg-opacity: 1;
  background-color: #0b0114 !important;
}

.theme-cyberpunk .bg-indigo-600 {
  background-color: #ff00ff !important;
}

.theme-cyberpunk .text-indigo-600 {
  color: #ff00ff !important;
}

.theme-cyberpunk .border-cyan-500 {
  border-color: #00ffff !important;
}

/* Theme: Retro */
.theme-retro {
  background-color: #1a1c18 !important;
}

.theme-retro * {
  color: #33ff33 !important;
  font-family: 'Courier New', Courier, monospace !important;
}

.theme-retro .bg-indigo-600 {
  background-color: #1a1c18 !important;
  border: 1px solid #33ff33 !important;
}

.scan-line {
  background: linear-gradient(to bottom, transparent, rgba(0, 243, 255, 0.1), transparent);
  background-size: 100% 200vh;
  animation: scan 4s linear infinite;
}

@keyframes scan {
  0% {
    background-position: 0 -100vh;
  }
  100% {
    background-position: 0 100vh;
  }
}

/* Scrollbar Hide */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
